{{> header}}

<div class="jumbotron">
  <h1>What is this?</h1>
  <p class="lead">This little app was built on plane ride from Tuscon
  to Atlanta, and on the subsequent delay from Atlanta to Jacksonville.</p>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>How is it built?</h4>
    <p>Clojure, Compojure, Clostache, Korma talking to PostgreSQL.
    Twitter Bootstrap on the front.</p>
  </div>
  
  <div class="span6">
    <h4>Where is it running?</h4>
    <p><a href="http://heroku.com">Heroku</a>.  Awesome.</p>
  </div>
</div>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Who built it?</h4>
    <p><a href="http://www.linkedin.com/in/kbedwell">This guy</a>.</p>
  </div>
  
  <div class="span6">
    <h4>Why?</h4>
    <p>Needed an excuse to learn Clojure.  I'll be doing more and I
    recommend it.</p>
  </div>
</div>




{{> footer}}
