{{> header}}

<div class="jumbotron">
  <h1>Make a prediction?  Track it here.</h1>
  <img src="/images/future-prediction.jpg"></img>

  <p class="lead" style="margin-top: 10px;">We'll keep track of it and you can show you were smart first.</p>

  <a class="btn btn-large btn-primary" href="/call-edit">Do it.&nbsp;&nbsp;Now.</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Were you right?</h4>
    <p>Of course you were.  Show your friends you were first.</p>
  </div>
  
  <div class="span6">
    <h4>Were you wrong?</h4>
    <p>Hide your head in shame.  We've got it on the record.</p>
  </div>
</div>

<div class="row-fluid marketing">
  <div class="span12">
    <h4>Dredge up the past. Look up past predictions by your email.</h4>
    <form method="GET" id="find" action="/find">
      <input type="text" name="email" id="email" 
             class="input-xxlarge" placeholder="Email goes here, of course.  Don't worry, I won't sell it."
             value=""> 
      <button type="submit" class="btn btn-inverse" style="margin-top:-10px">Find</button>
      <p id="errors" style="height:10px; color:red;"></p>
    </form>
  </div>
</div>

<div class="row-fluid marketing">
  <div class="offset7 span5">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ed7e5b1e9064bb"></script>
    <!-- AddThis Button END -->
  </div>
</div>


{{> footer}}
