{{> header}}

<div class="jumbotron">
  <h1>Make a prediction?  Track it here.</h1>
  <p class="lead">Make your prediction here.  Well keep track of it and
  send you an email on the date your prediction comes due.</p>
  <a class="btn btn-large btn-success" href="/call-edit">Do it.&nbsp;&nbsp;Now.</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Were you right?</h4>
    <p>Show your friends you were the first to predict it.</p>
  </div>
  
  <div class="span6">
    <h4>Were you wrong?</h4>
    <p>Hide your head in shame.  We've got it on the record</p>
  </div>
</div>

<div class="row-fluid marketing">
  <div class="span12">
    <h4>Dredge up the past. Look up past predictions by your email.</h4>
    <form method="GET" action="/find">
      <input type="text" name="email" id="email" 
             class="input-xxlarge" placeholder="Email goes here. Of course."
             value=""> 
      <button type="submit" class="btn btn-link" style="margin-top:-10px">Find</button>
    </form>
  </div>

</div>


{{> footer}}
